{% extends 'base.html' %} {% block content %}

<section style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-6 d-none d-md-block">
              <img
                src="/static/images/interior.jpg"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-6 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                {% if messages %}
                <ul class="messages list-inline text-center alert alert-danger">
                  {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <form method="POST" action="{% url 'loginpage' %}">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                    <h2 class="text-start fw-bold ps-3 mt-2">
                      <a href="/" class="text-decoration-none text-dark"
                        >Modern <span class="blue">Apartment</span></a
                      >
                    </h2>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Sign into your account
                  </h5>

                  <div class="form-outline mb-4">{{form2.username}}</div>

                  <div class="mb-4">
                    {{form2.password}}
                    <div class="row">
                      <div class="col-12 text-end mt-2">
                        <input class="" type="checkbox" onclick="myFunction()"> Show Password
                      </div>
                    </div>
                  </div>

                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-success btn-lg btn-block"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>

                  {% comment %} <a class="small text-muted" href="#!">Forgot password?</a> {% endcomment %}
                  <p class="mb-5 pb-lg-2 mt-3" style="color: #393f81">
                    Don't have an account?
                    <a href="/signup/" style="color: #393f81" class="fw-bold">
                      Register here</a
                    >
                  </p>
                  <a href="/termsofuse/" class="small text-muted">Terms of use.</a>
                  <a href="/privacypolicy/" class="small text-muted">Privacy policy</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{% endblock %}
